---
import { parseHTML } from 'linkedom'

const html = await Astro.slots.render('tab-element')
const {document} = parseHTML(html)

document.children.map((child, index) => {
  if (index === 0) child.classList.add('active')
  child.classList.add('kl-tab-content')
})

interface Props {
  id: string
}

const {id, className} = Astro.props

const classNames = className ? `kl-tabs ${className}` : 'kl-tabs'
---

<div class=`kl-tabs_container ${classNames}` id={id}>
    <div class="kl-tabs_nav">
        <slot name="nav-title"/>
        <div class="kl-tabs_nav_buttons">
          {document.children.map((DOMel, index) => {
            const {label} = DOMel.dataset
            return (
                    <div class="kl-tabs_nav_buttons_button-container">
                        <button class=`kl-tabs_nav_button${index === 0 ? " active" : ""}`
                                data-tab-set-id={id}
                                data-tab-index={index}>
                          {label}
                        </button>
                        <div
                                class="kl-tabs_nav_buttons_button-container_loader"
                                style="width: 0"
                        ></div>
                    </div>
            )
          })}
        </div>
    </div>
    <div class="kl-tabs_content">
        <Fragment set:html={document}/>
        <!--<slot name="tab-element"/>-->
    </div>
</div>

<style is:global lang="less">
  .kl-tabs {
    display: flex;
    gap: 1rem;

    &_nav {
      border-right: 1px solid black;
      padding-right: .5rem;

      &_buttons {
        display: flex;
        flex-direction: column;

        &_button-container {
          text-align: right;

          &_loader {
            height: 1px;
            background: black;
            margin: 0 -0.5rem 0 auto;
            width: 0;
          }

          &.active button {
            border-right: 1px solid black;
            padding-right: calc(0.6rem - 1px);
            margin-right: -0.5rem;
          }
        }

        button {
          border: none;
          background: transparent;
          text-align: right;
          cursor: pointer;
          font-size: 1.2rem;
          padding: .5rem .1rem;
          color: black;
        }
      }
    }

    &_content {
      flex-grow: 1;
    }
  }

  .kl-tab-content:not(.active) {
    display: none;
  }

  @media screen and (max-width: 1100px){
    .kl-tabs_nav_buttons button{
      font-size: 1rem;
    }
  }
</style>

<script>
  import KlTabController from "./KLTabController"

  const intersectionCallbacks = {}

  const obs = new IntersectionObserver(entries => {
    entries.forEach(e => {
      const {isIntersecting, target} = e
      intersectionCallbacks[target.id]?.(isIntersecting)
    })
  }, {root: null, threshold: 0.3})

  const allKlTabContainers = document.querySelectorAll(".kl-tabs_container") as NodeListOf<HTMLDivElement>
  allKlTabContainers.forEach(container => {
    const tabsController = new KlTabController(container, 500)
    const tabsButton = container.querySelectorAll(".kl-tabs_nav_buttons_button-container") as NodeListOf<HTMLDivElement>
    const timeBars = Array.from(tabsButton).map(buttonContainer => buttonContainer.querySelector(".kl-tabs_nav_buttons_button-container_loader") as HTMLDivElement)

    tabsButton.forEach((tabButtonContainer, index) => {
      function clickHandler(){
        tabsController.changeTab(index)
        tabsController.resetCounter()
        timeBars.forEach((timeBar, buttonIndex) => {
          timeBar.style.width = buttonIndex === index ? "100%" : "0"
        })
      }

      tabButtonContainer.addEventListener("click", clickHandler)
      tabButtonContainer.addEventListener("mouseover", () => tabsController.stop())
      tabButtonContainer.addEventListener("mouseleave", () => tabsController.run())
    })

    tabsController.onTimeChange(percent => {
      const timeBar = timeBars[tabsController.actualTabIndex]
      if (!timeBar) return
      timeBar.style.width = `${percent}%`
    })

    tabsController.run()

    intersectionCallbacks[container.id] = (isIntersecting: boolean) => {
      if (isIntersecting) {
        tabsController.run()
      } else {
        tabsController.stop()
      }
    }

    obs.observe(container)
  })
</script>